/* hero */
.hero {
  @apply h-[calc(100vh-60px)] w-screen max-w-full m-0 grid grid-cols-[8fr_11fr] items-center relative;
  letter-spacing: 0.04em;
  padding: 0;
}

.intro {
  @apply p-4 pl-64 relative z-10;
}

.intro > p {
  @apply my-6 text-[#6e7b8c] text-justify text-base leading-8;
  letter-spacing: -0.04em;
  text-shadow: 0 0 #8c99ab;
}

.hero_text {
  font-size: calc(1.5em + 1.2vw);
}

.name {
  --lighting-size: 450px;
  --lighting-color: var(--ifm-color-primary);
  --lighting-highlight-color: var(--ifm-color-primary-lightest);

  background-image: radial-gradient(
    var(--lighting-highlight-color),
    var(--lighting-color),
    var(--lighting-color)
  );
  background-size: var(--lighting-size) var(--lighting-size);
  background-repeat: no-repeat;
  background-position-x: calc(
    var(--x) - var(--mouse-x) - calc(var(--lighting-size) / 2)
  );
  background-position-y: calc(
    var(--y) - var(--mouse-y) - calc(var(--lighting-size) / 2)
  );
  background-color: var(--lighting-color);
  color: transparent;
  background-clip: text;
}

.background {
  @apply relative w-full h-[80%] grid place-items-center items-start;
  z-index: 5;
}

.background svg {
  @apply w-full h-auto;
}

.circle {
  @apply absolute -top-24 -right-48 w-full h-full rounded-bl-full opacity-60;
  background: linear-gradient(
    45deg,
    var(--circle-gradient-1),
    var(--circle-gradient-2),
    var(--circle-gradient-3)
  );
  background-size: 300% 300%;
  filter: blur(0px);
  z-index: 2;
  animation: gradientShift 3s ease-in-out infinite, blurAnimation 6s ease-in-out infinite;;
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(20px);
  }
  50% {
    filter: blur(128px);
  }
  100% {
    filter: blur(20px);
  }
}

/* 添加亮色模式的渐变颜色 */
:root {
  --circle-gradient-1: rgb(45, 196, 251);
  --circle-gradient-2: rgb(0, 139, 252);
  --circle-gradient-3: rgb(85, 255, 210);
}

/* 添加暗色模式的渐变颜色 */
[data-theme='dark'] {
  --circle-gradient-1: rgba(34, 240, 255, 0.65);
  --circle-gradient-2: rgba(37, 150, 255, 0.741);
  --circle-gradient-3: rgba(42, 66, 255, 0.411);
}

.box {
  @apply absolute inline-flex justify-center items-center bg-transparent text-transparent backdrop-blur-[2px] shadow-[inset_1px_1px_5px_rgb(255,255,255,0.3),0_0_5px_rgb(0,0,0,0.2)] rounded-lg p-2 w-14 h-14;
}

@media (max-width: 1000px) {
  .hero {
    @apply grid-cols-1 grid-rows-[max-content_minmax(0,max-content)] items-start h-auto;
  }

  .intro {
    @apply p-0 pt-16 flex flex-col items-center;
  }

  .background {
    @apply w-full justify-self-center pt-16 h-full grid place-items-center;
  }

  .background svg {
    @apply w-[20%] h-auto;
  }

  .box {
    @apply w-12 h-12;
  }
}

@media (max-width: 570px) {
  .hero {
    @apply h-auto;
  }

  .background {
    @apply pt-8;
  }

  .background svg {
    @apply w-full h-auto;
  }

  .box {
    @apply w-8 h-8;
  }

  .intro {
    @apply pt-8;
  }
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel :global(.carouselContainer) {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.icon {
  position: relative;
  width: 75%;
  height: 75%;
  z-index: -1;
  /*margin-bottom: 150px;*/
  /*margin-left: 200px;*/
  margin: 20px auto;
}
